@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title> Realty Course</title>
</head>
<body>
	<div id="content" style="width:auto; text-align:center;  font-family:Arial">
		Site is loading...
	</div>
	<script type="text/javascript" src="@Url.Content("~/assets/bundle.js")"></script>
</body>
</html>